parameters:
	ignoreErrors:
		-
			message: "#^Call to method [a-zA-Z]+\\(\\) on an unknown class Pimcore\\\\[a-zA-Z\\\\]+\\.$#"
			count: 7
			path: src/PaymentManager/Payment/PayU.php
		-
			message: "#^PHPDoc tag @var for variable \$[a-zA-Z]+ contains unknown class Pimcore\\\\[a-zA-Z\\\\]+\\.$#"
			count: 4
			path: src/PaymentManager/Payment/PayU.php